.InfoBox {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 90%;
}

.cardContainer {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 50%;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
}

.cardContainer:hover {
  transform: scale(1.03);
}
